CONFIG_DEFAULT_DEVICE_TREE="qcom-multi-dummy"
CONFIG_MULTI_DTB_FIT=y
CONFIG_OF_LIST="qcom/sdm845-db845c qcom/qrb5165-rb5 qcom/qrb4210-rb2 qcom/qrb2210-rb1 qcom/apq8016-sbc qcom/sdm845-oneplus-enchilada qcom/sdm845-oneplus-fajita qcom/sdm845-shift-axolotl qcom/sdm845-xiaomi-beryllium-tianma qcom/sdm845-xiaomi-beryllium-ebbg"
