# Configuration for building U-Boot to be embedded
# directly into the xbl.elf binary.

CONFIG_LOG=y
CONFIG_HEXDUMP=y
CONFIG_CMD_LOG=y
CONFIG_LOG_MAX_LEVEL=9
CONFIG_LOG_DEFAULT_LEVEL=6
CONFIG_LOGLEVEL=6

# Uncomment to enable UART pre-relocation
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0xa84000
CONFIG_DEBUG_UART_MSM_GENI=y
CONFIG_DEBUG_UART_CLOCK=7372800

# We don't bother building U-Boot as an elf here,
# instead we just build it as a raw binary.
# and then use patchxbl https://github.com/msm8916-mainline/qtestsign/tree/patchxbl
# to embed it into xbl.elf
# It is necessary to re-sign the xbl.elf after patching it with the new u-boot binary
# with qtestsign
